<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>나윤(@6_6_sixx) • Instagram 사진 및 동영상</title>
    <link rel="icon" href="/images/Instagram_logo.jpg" />
    <link rel="stylesheet" type="text/css" href="/css/content_3.css" />
</head>
<body>
    <a href="content_1.html"><div id="post">
        <img src="/images/post2.png">
        <span>게시물</span>
    </div></a>
    <a href="content_2.html"><div id="saved">
        <img src="/images/saved.png">
        <span>저장됨</span>
    </div></a>
    <a href="content_3.html"><div id="tag">
        <img src="/images/tag2.png">
        <span>태그됨</span>
    </div></a>
    <div id="content_3">
        <img src="/images/cat4.jpg">
        <img src="/images/cat5.jpg">
        <img src="/images/cat6.jpg">
    </div>
</body>
