<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>나윤(@6_6_sixx) • Instagram 사진 및 동영상</title>
    <link rel="icon" href="/images/Instagram_logo.jpg" />
    <link rel="stylesheet" type="text/css" href="/css/content_1.css" />

</head>
<body>
    <a href="content_1.html"><div id="post">
        <img src="/images/post.png">
        <span>게시물</span>
    </div></a>
    <a href="content_2.html"><div id="saved">
        <img src="/images/saved.png">
        <span>저장됨</span>
    </div></a>
    <a href="content_3.html"><div id="tag">
        <img src="/images/tag.png">
        <span>태그됨</span>
    </div></a>
    <div id="userContentBox">
    </div>
    <!--script-->
    <!--해당 iframe 구동 될 경우, 이 iframe에 사용자의 게시글 목록을 가져옵니다.-->
    <script src="/js/profilePostListFetch.js"></script>
</body>
