<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Posting</title>
</head>
<body>
<div class="container">
  <form enctype="multipart/form-data">
    <input id="postImages" type="file" multiple>이미지 파일 업로드<br>
    <textarea id="postText" rows="30" cols="40"></textarea><br>
    <button id="postButton">포스팅</button>
  </form>
</div>

</body>
<script>
  const button = document.getElementById("postButton");

  button.addEventListener('click', () => {
    const postValue = document.getElementById("postText").value;
    const postImages = document.getElementById("postImages");
    const files = postImages.files;

    const formData = new FormData();

    if(files.length > 0) {
      formData.append('postValue', postValue);
      for(let i = 0; i< files.length; i++) {
        formData.append('images', files[i]);
      }
    }

    fetch('/Member/postTesting', {
      method: 'POST',
      body: formData,
      credentials: 'include' // 쿠키 포함하여 업로드
    });


  });

</script>
</html>