body{
    margin: 0;
}
div a{
    text-decoration: none;
    color: black;
}
#post{
    position: fixed;
    padding: 18px 0 10px 0;
    left: 315px;
    display: flex;
    align-items: center;
}
#post img{
    width: 13px;
}
#post span{
    font-weight: 600;
    font-size: 12px;
    margin-left: 7px;
    color: #737373
}
#saved{
    position: fixed;
    padding: 18px 0 10px 0;
    left: 430px;
    display: flex;
    align-items: center;
}
#saved img{
    width: 14px;
}
#saved span{
    font-weight: 600;
    font-size: 12px;
    margin-left: 7px;
    color: #737373
}
#tag{
    position: fixed;
    padding: 18px 0 10px 0;
    border-top: 1px solid rgb(134, 134, 134);
    left: 545px;
    display: flex;
    align-items: center;
}
#tag img{
    width: 14px;
}
#tag span{
    font-weight: 600;
    font-size: 12px;
    margin-left: 7px;
    color: black
}
#content_3{
    border-top: 1px rgb(214, 214, 214) solid;
    padding-top: 50px;
}
#content_3 img{
    width: 300px;
}